nav {
  position: absolute;
  transform: translateY(-50px);
  background: #000;
  color: #fff;
}

%banner {
  background-image: url(./img/header/header1.jpg);
  background-color: #333;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: header-back 10s ease;
  h3,
  h4 {
    font-size: 3.5em;
    text-shadow: 0px 0px 3px #ccc5;
    background: linear-gradient(
      264.51deg,
      rgb(255, 229, 128) 4.38%,
      rgb(255, 117, 113) 11.51%,
      rgb(255, 114, 112) 25.06%,
      rgb(234, 93, 173) 36.04%,
      rgb(194, 160, 253) 47.63%,
      rgb(152, 103, 240) 59.03%,
      rgb(59, 240, 228) 69.96%,
      rgb(51, 206, 67) 83.74%,
      rgb(178, 244, 182) 95.62%
    );
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 30s ease infinite;
  }
  h4 {
    font-size: 1em;
    position: absolute;
    transform: translateY(50px);
  }
}

.banner-desktop {
  @extend %banner;
  height: 100vh;
}

.banner-mobile {
  @extend %banner;
  height: 90vh;
}

@keyframes gradient-shift {
  0% {
    background-position-x: 58%;
  }
  100% {
    background-position-x: 558%;
  }
}

@keyframes header-back {
  to {
    background-color: #222;
  }
}
